
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    font-size: large;
}


html,body {
    height:100%;
    overflow-x:hidden;
}


a:link, a:visited {
    text-decoration: none;
    color: white;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280%;
    margin: 0 auto;
    padding: 0 2%;
}

header{
   padding: 20px 0;
   height: 200px;
    
}

.logo{
    width: 50px;
    height: 150px;
}

center.logo{
    width:30px; height:30px;
}

    
.menu {
    padding-top: 65px;
    width: 90%;
    padding-left: 100px;
    text-align:right; 
}

.menu a{
    font-size:large;
    color: black;
    text-decoration: none;
    margin-right: 40px; 
      
}

button.btn{
    background-color: #6554BE;
    color: white;
    border-radius: 30px;
    border:none;
    width: 150px;
    height: 50px;
    cursor:pointer;
    box-shadow: 0px 0px 5px rgba(107, 107, 107, 0.671);
}

.paragraph-index {
    justify-content: left;
    align-items: left;
}

.paragraph-index h1 {
    color: BLACK;
    font-size: 50px;
}

.paragraph-index h2 {
    font-size: 30px;
}

.paragraph-index span {
    font-size: 50px;
}

.paragraph-index p {
    color: BLACK;
    margin: 20px 0;
    font-size: 20px;
    max-width: 58%;
}

.paragraph-index a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.paragraph-promo {
    margin-top:150px;
    position:relative;
    right: 510px;
    left: 100px;
}

.paragraph-promo h1 {
    font-size: 50px;
}

.paragraph-promo h2 {
    font-size: 30px;
}

.paragraph-promo span {
    font-size: 50px;
}

.paragraph-promo p {
    margin: 20px 0;
    font-size: 20px;
    max-width: 58%;
}

.paragraph-promo a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.content {
    display:flex;
    justify-content: center;  
    flex-wrap: wrap;
}

.card {
    width: 560px;
    height: 400px;
    margin: 15px;
}

.container-out {
    height:70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: absolute;
    width: 280px;
    height: 450px;
    margin: 15px;
    display:flex;
    justify-content:center;  
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.mediaCard {
    height: 150px;
    margin-bottom: 15px;
    background-size:cover;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px rgb(56, 56, 56);
}

.SAL {
    background: url(../img/SAL.jpg) center/cover;
    height: 200px;
    width: 100%;
}

.RJ {
    background: url(../img/RJ.jpg) center/cover;
    height: 200px;
    width: 100%;
}

.SP {
    background: url(../img/SP.webp) center/cover;
    height: 200px;
    width: 100%;
}

.BH {
    background: url(../img/BH.jpg) center/cover;
    height: 200px;
    width: 100%;
}

.CTBA {
    background: url(../img/CTBA.jpg) center/cover;
    height: 200px;
    width: 100%;
}

.REC {
    background: url(../img/RECIFE.webp) center/cover;
    height: 200px;
    width: 100%;
}